.httr-oauth
.Rproj.user
OldMaterial/*
ROSGenomicPatternsAcrossMarinePhytoplankton/ROSGeneCounts/output/*
*.fasta
*.log
*.docx
Work/*
ROSGenomicPatternsAcrossMarinePhytoplankton/ROSGeneCounts/.snakemake/*
DiffusionalInteractionsAmongMarinePhytoplanktonModellingH2O2CaseStudy/Comments/*
*.Rproj
*.Rhistory
*.RDataTmp
*.Rapp.history
*.dot
*.doc
*.Rds
ROSGenomicPatternsAcrossMarinePhytoplankton/Comments/*
*.png
EnzymaticCapacitiesROSMetabolismAcrossMarinePhytoplankton/*
*.pdf
